@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #ffd700;
  --color-secondary: black;
  --color-accent: #dbc735;

}

.text-xxs {
  font-size: 0.6rem; /* 10px */
}